body input,select{
	margin-top:5px;
    width:100%;
	color: #000000;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
	font-size:18px;
}

button{
 	font-size:20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
	background-color: #e0f7dc;    
}

.Main_container{
	background-color: #FAFAFA;
	width:1000px;
	height:80vh;
	margin-left:auto;
	margin-right:auto;
	border-color:#000000;
	border-style:solid;
	border-width:thin;
    overflow: scroll; 
}

.PageTitle{
    margin: 0 auto;
    margin-bottom: 20px;
	font-size:30px;
	line-height:45px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16B836), color-stop(0.55, #1A9E34) );
	background: -moz-linear-gradient( center top, #16B836 10%, #1A9E34 55% );
	color: #FFFFFF;
	width:1000px;
	height:55px;
	text-align:letf;
}

.PageOptions{
    color: rgba(12, 1, 1, 0.9); 
    margin: 0 auto;
	font-size:20px;
	line-height:30px;
	background-color: #efeaea; 
	width:1000px;
	height:60px;
	text-align:right;
}

.PostSubTitleDiv{
    margin-top: 10px;
    text-align: center; 
	font-size:25px;
	width:1000px;
    margin: 0 auto;
    height: 28px;
    color: #FFFFFF;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16B836), color-stop(0.55, #1A9E34) );
	background: -moz-linear-gradient( center top, #16B836 10%, #1A9E34 55% );  
}

.PostDiv{
	font-size:18px;
	width:98%;
    margin: 10 auto;
    height: 80px;
	background-color: #e3f2e4;    
}

.PostTitleDiv{
	font-size:20px;
	width:98%;
    margin: 0 auto;
    height: 24px;
	background-color: #e3f2e4;    
}

.PostContentDiv{
	font-size:18px;
	width:98%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 60px;
	background-color: #f7f7f7;    
}

.PostDate{
    margin-right: 10;
    float:right
}

#inner {
    display: table;
    margin: 0 auto;
}


.userRegistrationContainer{
	background-color: #FAFAFA;
	width:800px;
	height:550px;
	margin-left:auto;
	margin-right:auto;
	border-color:#000000;
}
.userRegistrationPageTitle{
    margin: 0 auto;
    margin-bottom: 20px;
	font-size:30px;
	line-height:45px;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.1, #16B836), color-stop(0.55, #1A9E34) );
	background: -moz-linear-gradient( center top, #16B836 10%, #1A9E34 55% );
	color: #FFFFFF;
	width:800px;
	height:55px;
	text-align:letf;
}
